{% extends 'lvl.html' %}

{% block extra %}
<a id="nextLevel" class="button rounded text-white box-glow row-center coll-center overlay" href="/pages/Level1">Start</a>
{%endblock%}

{% block explanation %}

{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 1
</script>
{% endblock %}
{% block acc %}
<script> 
    const acc = 1 
</script>
{% endblock %}
{% block closeEnough %}
<script>
    const closeEnough = 1
</script>
{% endblock %}
{% block checkRigor %}
<script>
    const checkRigor = 100
</script>
{% endblock %}
{% block size %}
<script>
    const size = 3
</script>
{% endblock %}