{% extends 'base.html' %} {% block title %}LOB{% endblock %}

{% block content %}
<!--Sparkle animation that plays on victory-->
<!--Credit: https://gifer.com/en/XZ5V-->
<img id="sparkle-gifr" class="sparkle sparkr hidden" src="/static/assets/sparkle.gif">
<img id="sparkle-gifl" class="sparkle sparkl hidden" src="/static/assets/sparkle.gif">

<!--Popup text that tells you how well you did-->
<div id="win-fail" class="abs-center w-24 h-10 text-4 text-center t-shadow text-green overlay d-none click-none">Well done!</div>


    <!--Level Title-->
    <div class="d-flex justify-content-center m-3 title">
        <div class="bg-dark rounded shadow-lg p-1 pb-2">
            <span class = 'text-center text-white ml-2 mr-2 t-shadow-s'>
                Learn Outside The Box{% block level %}{% endblock %}
            </span>
        </div>
    </div>

    <!--Hints that appear after a certain point on some levels-->
    <div id="hint" class="bg-dark text-white txtw-15 pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg r2-c2 hidden">
        <p class="text-center text-white">
            {% block hint %}
            {% endblock %} <br>
            <button class="button rounded bg-secondary m-1" onclick="hint()">Close</button>
        </p>
    </div>

    <!--Notification that tells the player how the hit and miss function works-->
    <div id="reliable" class="bg-maroon text-white pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg r1-c1 hidden">
        <p class="text-center text-white">
            That was a good guess!
        </p>
    </div>

    <!--Text that pops up at beginning of level to explain mechanics-->

    <!--Hit and miss counters-->
        <div id="info1" class="text-center r2-c1 w-4 txtw-8 text-1-5 h-4 lh-4 d-block">
            {% block hitMiss %}
            {% endblock %}
        </div>

        {# generate table based on size variable #}
        <!--Game board-->
        <table id='tableDiv' class="align-items-center w-15 {% block location %}{% endblock %} border t-layout-fixed bg-black">
            <tbody id="lobTable">
            {% for i in range(size) %}
                <tr>
                    {% for j in range(size) %}
                            <td class='LOBtd' id="t{{j + (size * i)}}">
                                <div id="d{{j + (size * i)}}" class='tableBorder'>
                                    <!--Neuron icons created by imaginationlol - Flaticon-->
                                    <img id="im{{j + (size * i)}}" class="w-4 shadow-lg d-none animate__animated" src="/static/assets/neuron.png">
                                    <div id = "p{{j + (size * i)}}" class="text-center t-shadow-s h-1 d-none {%block countSize%}{%endblock%}">
                                        {% block countInner %}<span class="text-lime h-1">0</span>{%endblock%}
                                </div>
                            </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <!--Accuracy counter-->
        <span id="accInfo" class="text-purple info text-1-5 text-center r1-c2 hidden">Accuracy: 0%</span>

    <!--Container for buttons-->
    <div id = "buttons" class="d-flex justify-content-center r-3">
        {% block button0 %}
        {% endblock %}
        {% block button0_1 %}
        {% endblock %}
        {% block button1 %}
        {% endblock %}
        {% block button2 %}
        {% endblock %}
        {% block button3 %}
        {% endblock %}
        {% block button4 %}
        {% endblock %}
        {% block button5 %}
        {% endblock %}
        {% block button6 %}
        {% endblock %}
    </div>
{% block bubbles %}
{%endblock%}

    <!--Second container for buttons-->
    <div id = "lowerButtons" class="r-4">
        {% block lower_button0 %}
        {% endblock %}
    </div>
{% block extra %}
{%endblock%}
    
{% endblock %}

{% block javascript %}

<script>
    let s = '0'
    const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
    const borderColors = ['border-blue', 'border-cyan']
    const textColors1 = ['text-black', 'text-lime']
    const textColors2 = ['text-red', 'text-orange']
    const backgroundColors = ['bg-blue', 'bg-cyan']
</script>
{% block levelNum %}
{% endblock %}
{%block size%}
{%endblock%}
{% block bubbleList %}
{% endblock %}
{% block bubbleScript %}
{% endblock %}
{% block bubbleDelay %}
{%endblock%}

<script type="text/javascript" src="/static/LOB.js"></script>
<script>
</script>

{% endblock %}
{% block postscript %}

{%endblock%}