{% extends 'lesson.html' %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-top row-2-a coll-center-bottom">
        <p class="text-center text-white">
            <span>This process (and your learning speed) is strongly influenced by a few other things. 
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top row-2-b coll-center-bottom d-none">
        <p class="text-center text-white">
                Doing all this in real-time is a bit too intense, so to save energy it'll focus on tracking 
                <span class="text-cyan">guesses</span>
                 during the day,
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson2()">Next</button>
        </p>
    </div>
    <div id="bubble3" class="speech-bubble speech-bubble-top row-2-b coll-center-bottom d-none">
        <p class="text-center text-white">
                and <span class="text-aether">update</span> your skills when you're asleep.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson3()">Next</button>
        </p>
    </div>
    <div id="bubble4" class="speech-bubble speech-bubble-top row-2-a coll-center-bottom d-none">
        <p class="text-center text-white">
            <span>If you're not getting enough sleep, some of those marks will get lost, so you might wanna avoid pulling all-nighters!
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="window.location.href = '/lesson_4'">Next</button>
        </p>
    </div>
{%endblock%}

{%block location%}
coll-center
{%endblock%}

{% block extra%}
<img id='img1'   
class="boxw-15 animate__animated row-true-center coll-center p-1 d-none" 
src="/static/assets/Board1.png">
<img id='img2'   
class="boxw-15 animate__animated row-true-center coll-center p-1 d-none" 
src="/static/assets/Board2.png">

<div id="under1" class=""></div>
<div id="under2" class=""></div>
<button id='guess' class="button rounded text-cyan box-glow row-2-b coll-center d-none">&#127774; Guess</button>
<button id="update" class="button rounded w-6 text-aether box-glow row-2-b coll-center d-none">&#127771; Update</button>
{%endblock%}

{%block size%}
<script>
    const size = 3
</script>
{%endblock%}

{%block levelNum%}
<script>
    const levelNum = 1
</script>
{%endblock%}

{% block bubbleLength %}
<script>
    const bubbleLength = 4
</script>
{% endblock %}

{%block postscript%}
<script>
    const board1 = [
        0,1,0,
        1,0,1,
        0,1,0
    ]
    function lesson() {
        bubbleCycle()
        show_element('guess')
        for (i=0;i<solution.length;i++) {
            document.getElementById('d' + i.toString()).style.backgroundColor = 'rgb(50,50,150)'
            change_class('p' + i, 'd-none', 'mt-3')
            document.getElementById('p' + i.toString()).getElementsByTagName('span')[0].classList.remove('text-lime')
            document.getElementById('p' + i.toString()).getElementsByTagName('span')[0].classList.add('text-transparent-gray', 'text-2')
            if (board1[i] == 1) {
                document.getElementById('p' + i.toString()).getElementsByTagName('span')[0].innerHTML = '1'
            }
        }
    }

    function lesson2() {
        bubbleCycle()
        hide_element('tableDiv', 'guess')
        show_element('img1', 'update')
    }

    function lesson3() {
        bubbleCycle() 
        hide_element('img1', 'update')
        show_element('img2')
    }
</script>
{%endblock%}
