{% extends 'base.html' %} {% block title %}LOB{% endblock %}

{% block content %}
<!--Sparkle animation that plays on victory-->
<!--Credit: https://gifer.com/en/XZ5V-->
<img id="sparkle-gif-right" class="sparkle sparkle-right d-none" src="/static/assets/sparkle.gif">
<img id="sparkle-gif-left" class="sparkle sparkle-left d-none" src="/static/assets/sparkle.gif">

<!--Popup text that tells you how well you did-->
<div id="win-fail" class="abs-center boxw-24 boxh-10 text-4 text-center text-shadow text-green overlay d-none click-none">Well done!</div>


    <!--Level Title-->
    <div class="d-flex justify-content-center m-3 title">
        <div class="bg-dark rounded shadow-lg p-1 pb-2">
            <span class = 'text-center text-white ml-2 mr-2 text-shadow-s'>
                Learn Outside The Box{% block level %}{% endblock %}
            </span>
        </div>
    </div>

    <!--Notification that tells the player how the hit and miss function works-->
    <div id="reliability" class="bg-maroon text-white pt-3  pl-2 pr-2 rounded text-wrap shadow-lg row-1 coll-1 hidden">
        <p class="text-center text-white">
            That was a good guess!
        </p>
    </div>

    <!--Hit and miss counters-->
        <div id="info1" class="text-center ls-1 remw-8 text-1-5 boxh-4 d-block">
            {% block hitMiss %}
            {% endblock %}
        </div>

        {# generate table based on size variable #}
        <!--Game board-->
        <table id='tableDiv' class="align-items-center boxw-15 row-true-center {% block location %}{% endblock %} border t-layout-fixed bg-black">
            <tbody id="lobTable">
            {% for i in range(size) %}
                <tr>
                    {% for j in range(size) %}
                            <td class='LOBtd' id="t{{j + (size * i)}}">
                                <div id="d{{j + (size * i)}}" class='tableBorder'>
                                    <!--Neuron icons created by imaginationlol - Flaticon-->
                                    <img id="im{{j + (size * i)}}" style="width: calc(var(--screen-unit) * 4);" class="shadow-lg d-none animate__animated" src="/static/assets/neuron.png">
                                    <div id = "p{{j + (size * i)}}" class="text-center text-shadow-s boxh-1 d-none {%block countSize%}{%endblock%}">
                                        {% block countInner %}<span class="text-lime boxh-1">0</span>{%endblock%}
                                </div>
                            </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <!--Accuracy counter-->
        <span id="accInfo" class="text-purple info text-1-5 text-center row-1 coll-2 hidden">Accuracy: 0%</span>

    <!--Container for buttons-->
    <div id = "buttons" class="d-flex justify-content-center row-3">
        {% block button0 %}
        {% endblock %}
        {% block button0_1 %}
        {% endblock %}
        {% block button1 %}
        {% endblock %}
        {% block button2 %}
        {% endblock %}
    </div>
{% block bubbles %}
{%endblock%}

    <!--Second container for buttons-->
    <div id = "lowerButtons" class="row-4">
        {% block lower_button0 %}
        {% endblock %}
    </div>
{% block extra %}
{%endblock%}
    
{% endblock %}

{% block javascript %}

<script>
    let s = '0'

    const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
    const borderColors = ['border-blue', 'border-cyan']
    const textColors1 = ['text-black', 'text-lime']
    const textColors2 = ['text-red', 'text-orange']
    const backgroundColors = ['bg-blue', 'bg-cyan']
</script>
{% block levelNum %}
{% endblock %}
{%block size%}
{%endblock%}
{% block bubbleLength %}
{% endblock %}
{% block guess %}
{%endblock%}
{% block acc %}
{%endblock%}

<script type="text/javascript" src="/static/LOB.js"></script>
<script>
</script>

{% endblock %}
{% block postscript %}

{%endblock%}