{% extends 'lesson.html' %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-top row-2-c coll-center-bottom">
        <p class="text-center text-white">
            <span>The <span class="text-yellow">standards</span> you set for yourself also have a big impact on your learning ability.
            </span>
            <button class="button rounded bg-secondary m-1" onclick="lesson()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top row-2-c coll-center-bottom d-none">
        <p class="text-center text-white">
                If your standards are low enough that you never fail, you'll end up with chaos.
            </span>
            <button class="button rounded bg-secondary m-1" onclick="lesson2()">Next</button>
        </p>
    </div>
    <div id="bubble3" class="speech-bubble speech-bubble-top row-2-c coll-center-bottom d-none">
        <p class="text-center text-white">
            And if you're such a perfectionist that you never succeed, you'll never make any progress.
            <button class="button rounded bg-secondary m-1" onclick="lesson3()">Next</button>
        </p>
    </div>
    <div id="bubble4" class="speech-bubble speech-bubble-top row-2-c coll-center-bottom d-none">
        <p class="text-center text-white">
            <span>
                Your brain also has a little trick to make things go faster: when your standards are <span class="text-yellow">higher</span>, it'll give
                your Hits a <span class="text-cyan">boost</span> to make up for how uncommon they are.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson4()">Next</button>
        </p>
    </div>
    <div id="bubble5" class="speech-bubble speech-bubble-top row-2-b coll-center-right-a-bottom d-none">
        <p class="text-center text-white">
            <span>
                A loss rate of around 80-90% is where this trick tends to hit peak effectiveness.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="window.location.href = '/lesson_5'">Next</button>
        </p>
    </div>
{%endblock%}

{%block location%}
coll-center
{%endblock%}


{% block extra%}
<span id='standards1' class="button text-yellow rounded pr-1 row-2-c coll-center w-24">Standards (1-10):
    <input id='standards' class = "text-yellow rounded remh-1 emw-3 pl-1 bg-dark2" disabled type="number" max="10" min="1" step="1" value="1"></span>
    <span id='extol1' class="button rounded boxh-2-5 text-yellow row-2-b coll-center-left-a d-none"> Standards:
        <input class = "text-yellow rounded remh-1 emw-3 pl-1 bg-dark2 " disabled type="number" max="10" min="1" step="1" value="3"></span>
    <span id='extol2' class="button rounded boxh-2-5 text-yellow row-2-b coll-center-right-a d-none"> Standards:
        <input class = "text-yellow rounded remh-1 emw-3 pl-1 bg-dark2 " disabled type="number" max="10" min="1" step="1" value="9"></span>
        <span id="exHit1" class="text-green info row-0 coll-center-left-a text-center boxw-15 remw-8 text-1-5 d-none">Hits: 1</span>
        <span id="exHit2" class="text-green info row-0 coll-center-right-a text-center boxw-15 remw-8 text-1-5 d-none">Hits: 1</span>
    
        <img id='img1'   
    class="boxw-15 animate__animated row-true-center coll-center-left p-1 d-none" 
    src="/static/assets/standardsBoard1.png">
    <img id='img2'   
    class="boxw-15 animate__animated row-true-center coll-center-right p-1 d-none" 
    src="/static/assets/standardsBoard2.png">

    <div id="info3"  class="text-center emw-8 ls-1 boxh-4 text-1-5 lh-4 d-block">
        <span id="hitInfo" class="text-green info">Hits: 0</span>
        <span id="missInfo" class="text-orange info">Misses: 0</span>
    </div>
{%endblock%}


{%block size%}
<script>
    const size = 3
</script>
{%endblock%}

{%block levelNum%}
<script>
    const levelNum = 5
</script>
{%endblock%}

{% block bubbleLength %}
<script>
    const bubbleLength = 5
</script>
{% endblock %}

{% block guess %}
<script>
    const maxGuess = Number.MAX_SAFE_INTEGER
</script>
{%endblock%}

{% block acc %}
<script>
    const acc = 0
</script> 
{%endblock%}

{%block postscript%}
<script>
    lessonDelayState = 0
    loopEnd = 0
    solution = [
        0,0,0,
        0,0,0,
        0,0,0
    ]
    function lesson() {
        delay = 2600
        if (!lessonDelayState) {
            lessonDelayState = 1
            bubbleCycle()
            genLoop(1)
            setTimeout(()=>{
                lessonDelayState = 0
            })
        }
    }

    function genLoop(l) {
        advancedGenerate(15)
        setTimeout(()=>{
            if (!loopEnd && l < 34) {
            genLoop(l + 1)
            }
        }, 250)
    }

    function lesson2() {
        loopEnd = 1
        bubbleCycle()
        boardClear()
        document.getElementById('standards').value = 10
        setTimeout(()=> {
            loopEnd = 0
            genLoop(1)
        }, 255)
    }

    function lesson3() {
        loopEnd = 1
        bubbleCycle()
        hide_element('tableDiv', 'standards1', 'hitInfo', 'missInfo')
        show_element('img1', 'img2', 'extol1', 'extol2', 'exHit1', 'exHit2')
    }

    function lesson4() {
        bubbleCycle()
        document.getElementById('extol2').classList.add('box-glow')
    }
</script>
{%endblock%}
