{% extends 'lesson.html' %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-top w-24 text-white txtw-15 p-2 pb-01 mt-1 rounded text-wrap shadow-lg lr2-c-b">
        <p class="text-center text-white">
            <span>The <span class="text-yellow">standards</span> you set for yourself also have a big impact on your learning ability.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top w-24 text-white txtw-15 p-2 pb-01 mt-1 rounded text-wrap shadow-lg lr2-c-b d-none">
        <p class="text-center text-white">
                If your standards are low enough that you never fail, you'll end up with chaos.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson2()">Next</button>
        </p>
    </div>
    <div id="bubble3" class="speech-bubble speech-bubble-top w-24 text-white txtw-15 p-2 pb-01 mt-1 rounded text-wrap shadow-lg lr-c-b d-none">
        <p class="text-center text-white">,
            And if you're such a perfectionist that you never succeed, you'll never make any progress.
            <button class="button rounded bg-secondary m-1" onclick="lesson3()">Next</button>
        </p>
    </div>
    <div id="bubble4" class="speech-bubble speech-bubble-top w-24 text-white txtw-15 p-2 pb-01 mt-1 rounded text-wrap shadow-lg lr-c-b d-none">
        <p class="text-center text-white">
            <span>
                Your brain also has a little trick to make things go faster: when your standards are higher, it'll give
                your Hits a boost to make up for them not appearing as often.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson4()">Next</button>
        </p>
    </div>
    <div id="bubble5" class="speech-bubble speech-bubble-top w-24 text-white txtw-15 p-2 pb-01 mt-1 rounded text-wrap shadow-lg lr-c-b d-none">
        <p class="text-center text-white">
            <span>
                A loss rate of around 80-90% is where this trick tends to hit peak effectiveness.
            </span><br>
            <button class="button rounded bg-secondary m-1" onclick="lesson4()">Next</button>
        </p>
    </div>
{%endblock%}

{%block location%}
rc-cc
{%endblock%}


{% block extra%}
<span class="button text-yellow rounded pr-1 h-2-5 lr-c-b">On a scale of 1 to 10, how high are your standards?
    <input id='tolerance' class = "text-yellow rounded w-2 pl-1 bg-dark2" disabled type="number" max="10" min="1" step="1" value="1"></span>
{%endblock%}

{%block hitMiss %}
<span id="hitInfo" class="text-green info">Hits: 0</span> &nbsp;
<span id="missInfo" class="text-orange info">Misses: 0</span>
{%endblock%}

{%block size%}
<script>
    const size = 3
</script>
{%endblock%}

{%block levelNum%}
<script>
    const levelNum = 5
</script>
{%endblock%}

{% block bubbleList %}
<script>
    const bubbleList = ['bubble1', 'bubble2', 'bubble3', 'bubble4']
    bubListenList = [[]]
</script>
{% endblock %}
{% block bubbleDelay %}
<script>
    const bubbleDelay = 0
</script>
{%endblock%}

{% block guess %}
<script>
    const maxGuess = Number.MAX_SAFE_INTEGER
    const hintThreshold = Number.MAX_SAFE_INTEGER
    const bubbleGuessPoints = Number.MAX_SAFE_INTEGER
    const acc = 0
</script>
{%endblock%}

{%block postscript%}
<script>
    lessonDelayState = 0
    solution = [
        0,0,0,
        0,0,0,
        0,0,0
    ]
    function lesson() {
        delay = 2600
        if (!lessonDelayState) {
            lessonDelayState = 1
            bubbleCycle()
            genLoop(0)
            setTimeout(()=>{
                lessonDelayState = 0
            })
        }
    }

    function genLoop(l) {
        advancedGenerate(15)
        l = l + 1
        setTimeout(()=>{
            if (l < 10) {
            genLoop(l)
        }
        }, 250)
    }
</script>
{%endblock%}
