{% extends 'base.html' %} {% block title %}LOB{% endblock %}

{% block content %}
<!--Sparkle animation that plays on victory-->
<!--Credit: https://gifer.com/en/XZ5V-->
<img id="sparkle-gifr" class="sparkle sparkr hidden" src="/static/assets/sparkle.gif">
<img id="sparkle-gifl" class="sparkle sparkl hidden" src="/static/assets/sparkle.gif">

<!--Popup text that tells you how well you did-->
<div id="win-fail" class="abs-center w-24 h-10 text-4 text-center t-shadow text-green overlay d-none">Well done!</div>


    <!--Level Title-->
    <div class="d-flex justify-content-center m-3 title">
        <div class="bg-dark rounded shadow-lg p-1 pb-2">
            <span class = 'text-center text-white ml-2 mr-2 t-shadow-s'>
                Learn Outside The Box{% block level %}{% endblock %}
            </span>
        </div>
    </div>

    <!--Hints that appear after a certain point on some levels-->
    <div id="hint" class="bg-dark text-white txtw-15 pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg r2-c2 hidden">
        <p class="text-center text-white">
            {% block hint %}
            {% endblock %} <br>
            <button class="button rounded bg-secondary m-1" onclick="hint()">Close</button>
        </p>
    </div>

    <!--Notification that tells the player how the hit and miss function works-->
    <div id="reliable" class="bg-maroon text-white pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg r1-c1 hidden">
        <p class="text-center text-white">
            This guess is reliable.
        </p>
    </div>

    <!--Hit and miss counters-->
        <div id="info1" class="text-center r2-c1 w-4 txtw-8 text-1-5 h-4 lh-4 d-block">
            {% block hitMiss %}
            {% endblock %}
        </div>

        {# generate table based on size variable #}
        <!--Game board-->
        <table class="align-items-center w-24 rc-cc border t-layout-fixed bg-black">
            {% for i in range(size) %}
                <tr>
                    {% for j in range(size) %}
                            <td class='LOBtd' id="t{{j + (size * i)}}">
                                <div id="d{{j + (size * i)}}" class='tableBorder' {% block colorSwitch %} onclick="colorSwitch(this, '{{j + (size * i)}}')" {%endblock%}>
                                    <div id="di{{j + (size * i)}}" class='
                                        genFade 
                                        d-none 
                                        text-center
                                        text-center-v
                                        text-dark 
                                        text-glow 
                                        {% block di_none %}{% endblock %}'
                                        
                                    ></div>
                                    <div id = "p{{j + (size * i)}}" class="ar-1 margin-auto text-center text-center-v counter z-1 t-shadow-s {%block countSize%}{%endblock%}">
                                        {% block countInner %}<span class="text-lime">0</span><span class="text-orange ml-1"></span>{% endblock %}
                                    </div>
                                </div>
                            </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <!--Accuracy counter-->
        <span id="accInfo" class="text-purple info text-1-5 text-center r1-c2 hidden">Accuracy: 0%</span>

    <!--Container for buttons-->
    <div id = "buttons" class="d-flex justify-content-center r-3">
        {% block button0 %}
        {% endblock %}
        {% block button0_1 %}
        {% endblock %}
        {% block button1 %}
        {% endblock %}
        {% block button2 %}
        {% endblock %}
        {% block button3 %}
        {% endblock %}
        {% block button4 %}
        {% endblock %}
        {% block button5 %}
        {% endblock %}
        {% block button6 %}
        {% endblock %}
    </div>

    <!--Second container for buttons-->
    <div id = "lowerButtons" class="r-4">
        {% block lower_button0 %}
        {% endblock %}
    </div>
{% block extra %}
{%endblock%}
    
{% endblock %}

{% block javascript %}
    {% block levelscript %}
    {% endblock %}
    {% block acc %}
    <script>

    </script>
    {% endblock %}
    {% block closeEnough %}
    <script>

    </script>
    {% endblock %}
    {% block checkRigor %}
    <script>

    </script>
    {% endblock %}
    {% block size %}
    <script>

    </script>
    {% endblock %}
    {% block hold %}
    <script>

    </script>
    {% endblock %}
    {% block counterLvl %}
    <script>

    </script>
    {% endblock %}
    {% block hintThreshold %}
    <script>

    </script>
    {% endblock %}
    {% block missBonus %}
    <script>
    </script>
    {% endblock %}
    {% block maxGuess %}
    <script>

    </script>
    {%endblock%}
    {% block levelNum %}
    <script>

    </script>
    {% endblock %}
    {% block holdSpeed %}
    <script>

    </script>
    {% endblock %}
    {% block holdDelay %}
    <script>

    </script>
    {% endblock %}
    {% block condense %}
    <script>

    </script>
    {% endblock %}
    {% block flash %}
    <script>

    </script>
    {% endblock %}


    <script type="text/javascript" src="/static/LOB.js"></script>
    <script>
        if (!s) {
            new_puzzle()
        }
    </script>
{% endblock %}