{% extends 'lvl.html' %}

{% block level %}: Level 1{% endblock %}

{% block navbar_extra %}
    <button class="btn bg-secondary m-1" onclick="new_puzzle()">New Seed</button>
{% endblock %}

{% block button0 %}<button id='guess' class="button rounded m-1 text-cyan box-glow" onclick="basicGenerate()">Guess</button>{% endblock %}
{% block button1 %}<button id='check' class="button rounded text-purple m-1" onclick="check()">Check</button>{% endblock %}
{% block button2 %}<a id="nextLevel" class="button text-green rounded m-1 d-none box-glow" href="/Level{{nextLevel}}">Next Level</a>{% endblock %}

{% block explanation %}

{% endblock %}

{% block levelscript %}
    <script>
        const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
        const borderColors = ['border-blue', 'border-cyan']
        const backgroundColors = ['bg-blue', 'bg-cyan']
        const cases = [[0, 0, 10, 10], [0, 10, 10, 10]]
        let s = new URLSearchParams(window.location.search).get('seed')
    </script>
{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 1
</script>
{% endblock %}
{% block acc %}
<script> 
    const acc = 1 
</script>
{% endblock %}
{% block closeEnough %}
<script>
    const closeEnough = 1
</script>
{% endblock %}
{% block checkRigor %}
<script>
    const checkRigor = 100
</script>
{% endblock %}
{% block size %}
<script>
    const size = 3
</script>
{% endblock %}
{% block hold %}
<script>
    const hold = 0
</script>
{% endblock %}
{% block counterLvl %}
<script>
    const counterLvl = 0
</script>
{% endblock %}
{% block hintThreshold %}
<script>
    const hintThreshold = -1
</script>
{% endblock %}