{% extends 'lvl.html' %}

{% block level %}: Level 1{% endblock %}

{% block button0 %}<button id='guess' class="button text-cyan button-a box-glow" onclick="basicGenerate()">Guess</button>    
{% endblock %}
{% block button1 %}<button id='check' class="button text-purple button-a m-1" onclick="check()">Submit</button>{% endblock %}
{% block button2 %}<a id="nextLevel" class="button text-green button-a box-glow d-none" href="https://erynsorawl.github.io/LOB/pages/Level{{nextLevel}}">Next Level</a>{% endblock %}

{% block explanation %}

{% endblock %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-top emw-15 row-3 coll-button-1-bottom">
        <p class="text-center text-white">
            <span>Hello, and welcome to LOB! To get started, click the <span class="text-cyan">'Guess'</span> button.</span>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top text-white emw-15 p-2  mt-1 rounded text-wrap shadow-lg row-3 coll-button-2-bottom d-none">
        <p class="text-center text-white">
            <span>When you're done, click <span class="text-purple">'Submit'</span>.</span>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
{%endblock%}
{% block bubbleLength %}
<script>
    const bubbleLength = 2
</script>
{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 1
</script>
{% endblock %}
{% block acc %}
<script> 
    const acc = 1 
</script>
{% endblock %}
{% block closeEnough %}
<script>
    const closeEnough = 1
</script>
{% endblock %}
{% block checkRigor %}
<script>
    const checkRigor = 100
</script>
{% endblock %}
{% block size %}
<script>
    const size = 3
</script>
{% endblock %}