{% extends 'lvl1.html' %}

{% block level %}: Level 2{% endblock %}

{% block explanation %}
    The computer's having a bit of trouble now, so its <span class="text-cyan">Guesses</span> might be a little off some of the time.<br><br>
    It'd be a good idea to make a few extra <span class="text-cyan">Guesses</span>, just to make sure you didn't get one of the wrong ones.
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 2
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .75
</script>
{%endblock%}