{% extends 'lvl1.html' %}

{% block level %}: Level 2{% endblock %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-right emw-17 row-center coll-1">
        <p class="text-center text-white">
            <span>If you ever get stuck, try <span class="text-orange">reloading</span> the page and/or <span class="text-green">reading</span> these info cards.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>

    <div id="bubble2" class="speech-bubble speech-bubble-right emw-17 row-center coll-1 d-none">
        <p class="text-center text-white">
            <span> If that doesn't work, <span class='text-cyan'>scan</span> as many times as possible!</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Close</button>
        </p>
    </div>
{%endblock%}

{% block bubbleLength %}
<script>
    const bubbleLength = 2
</script>
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 2
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .4
</script>
{%endblock%}