{% extends 'lvl1.html' %}

{% block level %}: Level 2{% endblock %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-right emw-17 row-center coll-1">
        <p class="text-center text-white">
            <span>If you ever get stuck, try reloading the page and reading the explanation popups. If that doesn't work, <span class='text-cyan'>Scan</span> as many times as possible!</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Close</button>
        </p>
    </div>
{%endblock%}

{% block bubbleLength %}
<script>
    const bubbleLength = 1
</script>
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 2
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .4
</script>
{%endblock%}