{% extends 'lvl2.html' %}

{% block level %}: Level 3{% endblock %}

{# change the guess button to the second version #}
{% block button0 %}<button id='guess' class="button rounded m-1 text-cyan box-glow" onclick="basicGenerate()">Guess</button> 
<input id='tolerance' class = "numberInput d-none" type="number" max="100" min="0" step=".1" value="-1">{% endblock %}

{% block countSize %}text-1-5{%endblock%}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-right text-white txtw-15 p-2 pb-01 mt-3 rounded text-wrap shadow-lg r2-c1">
        <p class="text-center text-white">
            <span>We don't know which squares are right anymore, but we do know they'll show up more often than the wrong ones!</span><br>
            
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-right text-white txtw-15 p-2 pb-01 mt-3 rounded text-wrap shadow-lg r2-c1 d-none">
        <p class="text-center text-white">
            <span>These <span class="text-green">numbers</span> will keep track how often each square shows up. The more you guess, the more clear the answer becomes.</span> <br>
            
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Close</button>
        </p>
    </div>
{%endblock%}

{% block bubbleList %}
<script>
    const bubbleList = ['bubble1','bubble2']
    bubListenList = []
</script>
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 3
</script>
{% endblock %}
{% block acc %}
    <script>
        const acc = .63
    </script>
{% endblock %}
{% block size %}
    <script>
        const size = 4
    </script>
{% endblock %}
{% block counterLvl %}
<script>
    const counterLvl = 1
</script>
{%endblock%}