{% extends 'lvl2.html' %}

{% block level %}: Level 3{% endblock %}

{# change the guess button to the second version #}
{% block button0 %}<button id='guess' class="button rounded m-1 text-cyan box-glow" onclick="basicGenerate()">Guess</button> 
<input id='tolerance' class = "numberInput d-none" type="number" max="100" min="0" step=".1" value="-1">{% endblock %}

{% block box %}<p class="up-5 text-center counter h-1 div-center overlay"></p>{% endblock %}


{% block hint %}
    Hint: Try spamming the 'Guess' button.
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 3
</script>
{% endblock %}

{% block acc %}
    <script>
        const acc = .75
    </script>
{% endblock %}

{% block size %}
    <script>
        const size = 4
    </script>
{% endblock %}
{% block counterLvl %}
<script>
    const counterLvl = 1
</script>
{%endblock%}
{% block hintThreshold %}
<script>
    const hintThreshold = 5
</script>
{%endblock%}