{% extends 'lvl3.html' %}

{% block level %}: Level 4{% endblock %}

{% block button0 %}<button id='guess' class="button rounded m-1 text-cyan box-glow" onclick="removeGlow()">Guess</button>{% endblock %}

{% block navbar_extra %}
    <div class="navbar-nav">
        {% block navbar_extra_2 %}
        {% endblock %}
        {% block navbar_extra_3 %}
        <input id='tolerance' class = "numberInput d-none" type="number" max="100" min="0" step=".1" value="-2">
        {% endblock %}
    </div>
{% endblock %}

{% block hitMiss %}
    <p id="hitInfo" class="text-green info">Hits: 0</p>
    <p id="missInfo" class="text-red info">Misses: 0</p>
{% endblock %}

{% block hint %}
    Hint: Try holding the 'Guess' button.
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 4
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .60
</script>
{% endblock %}
{% block hold %}
<script>
    const hold = 1
</script>
{%endblock%}
{% block closeEnough %}
<script>
    const closeEnough = .9
</script>
{%endblock%}
{% block size %}
    <script>
        const size = 5
    </script>
{% endblock %}
{% block missBonus %}
<script>
    const missBonus = 0
</script>
{%endblock%}
{% block holdSpeed %}
<script>
    const holdSpeed = 100
</script>
{% endblock %}
{% block hintThreshold %}
<script>
    const hintThreshold = 10
</script>
{%endblock%}