{% extends 'lvl3.html' %}

{% block level %}: Level 4{% endblock %}

{% block button0 %}<button id='guess' class="button rounded m-1 text-cyan box-glow" onclick="advancedGenerate()">Guess</button>{% endblock %}

{% block navbar_extra %}
    <div class="navbar-nav collapse-margin">
        {% block navbar_extra_2 %} <button class="btn btn-secondary w-10 collapse-margin" onclick="toggleCounters(1)">Toggle Counters</button>&nbsp;<br> {%endblock%}
    </div>
    <div class="collapse-margin pl-2">
        {% block navbar_extra_3 %}
        <input id='tolerance' class = "numberInput d-none" type="number" max="100" min="0" step=".1" value="-1">
        {% endblock %}
    </div>
{% endblock %}

{% block hint %}
    Tip: You can enable or disable the box counters using the 'Toggle Counters' button.
{% endblock %}

{% block countSize %}
{%endblock%}

{% block countInner %}<span class="text-lime">0</span> &nbsp;<span class="text-orange">0</span>{%endblock%}

{% block hitMiss %}
    <span id="hitInfo" class="text-green info">Hits: 0</span> &nbsp;
    <span id="missInfo" class="text-orange info">Misses: 0</span>
{% endblock %}


{% block levelNum %}
<script>
    const levelNum = 4
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .44
</script>
{% endblock %}
{% block hold %}
<script>
    const hold = 0
</script>
{%endblock%}
{% block closeEnough %}
<script>
    const closeEnough = .9
</script>
{%endblock%}
{% block size %}
    <script>
        const size = 5
    </script>
{% endblock %}
{% block missBonus %}
<script>
    const missBonus = 0
</script>
{%endblock%}
{% block holdSpeed %}
<script>
    const holdSpeed = 100
</script>
{% endblock %}
{% block hintThreshold %}
<script>
    const hintThreshold = 10
</script>
{%endblock%}
{% block condense %}
<script>
    const condense = 0
</script>
{% endblock %}
{% block flash %}
<script>
    const flash = 1
</script>
{% endblock %}