{% extends 'lvl4.html' %}

{% block level %}: Level 5{% endblock %}

{% block button0 %}<button id="guess" class="button rounded text-cyan m-1 box-glow" onclick ='advancedGenerate(2)'>Guess</button>{% endblock %}

{% block navbar_extra_2 %}{%endblock%}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-right emw-15 row-center coll-1">
        <p class="text-center text-white">
            <span>We won't be flashing <span class="text-cyan">guesses</span> or showing individual <span class="text-green">numbers</span> anymore, so pay attention to the box colors!</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top emw-15 row-3 coll-button-1-bottom d-none">
        <p class="text-center text-white">
            <span>The <span class="text-cyan">Guess</span> button also now guesses twice per click.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
{%endblock%}


{% block bubbleLength %}
<script>
    const bubbleLength = 2
</script>
{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 5
</script>
{% endblock %}
{% block size %}
    <script>
        const size = 5
    </script>
{% endblock %}
{% block maxGuess %}
<script>
    const maxGuess = Number.MAX_SAFE_INTEGER
</script>
{%endblock%}