{% extends 'lvl4.html' %}

{% block level %}: Level 5{% endblock %}

{% block button0 %}<button id="guess" class="button rounded text-cyan m-1 box-glow">Guess</button>{% endblock %}

{% block hint %}
    Hint: Try holding the 'Guess' button.
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 5
</script>
{% endblock %}

{% block acc %}
<script>
    const acc = .40
</script>
{% endblock %}

{% block missBonus %} 
    <script>
        const missBonus = 0
    </script>
{%endblock%}

{% block size %}
    <script>
        const size = 5
    </script>
{% endblock %}
{% block hintThreshold %}
<script>
    const hintThreshold = 5
</script>
{%endblock%}
{% block maxGuess %}
<script>
    const maxGuess = Number.MAX_SAFE_INTEGER
</script>
{%endblock%}