{% extends 'lvl5.html' %}

{% block level %}: Level 6{% endblock %}

{% block button0 %}<button id="scan" class="button rounded text-cyan m-1" onclick ='advancedGenerate(3)'>Scan</button>{% endblock %}

{% block button0_1 %}<button class="button rounded text-aether m-1" onclick="updateColor('Border')">Update</button>{% endblock %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-top emw-17 row-3 coll-center-bottom">
        <p class="text-center text-white">
            <span>From now on, your <span class="text-cyan">scans</span> won't show you what they've been working until you click the
            <span class="text-aether">Update</span> button.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-top emw-17 row-3 coll-center-bottom d-none">
        <p class="text-center text-white">
            <span>They'll also stop making progress if you go too long without <span class="text-cyan">Updating</span>.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble3" class="speech-bubble speech-bubble-right emw-17 row-center coll-1 d-none">
        <p class="text-center text-white">
            <span>It seems a little pointless right now, but it'll be super important later.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Close</button>
        </p>
    </div>
{%endblock%}

{% block bubbleLength %}
<script>
    const bubbleLength = 3
</script>
{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 6
</script>
{% endblock %}
{% block size %}
<script>
    const size = 5
</script>
{% endblock %}
{% block maxScans %}
<script>
    const maxScans = 100
    scanLoops = 3
</script>
{%endblock%}