{% extends 'lvl3-6.html' %}

{% block navbar_extra %}
<br>
<div class="navbar-nav">
    <button class="btn btn-secondary ml-4 toggleCounters" onclick="toggleCounters()">Toggle Counters</button>
    <span style="padding: 8px;" class="text-white bg-secondary ml-3">Guesses:</span>
    <input id='guesses' class="text-white bg-secondary numberInput" type="number" max="1000" min="0" step="1" value="20">
    <input id='tolerance' class="numberInput hidden" type="number" max="100" min="0" step=".1" value="52">
</div>
{% endblock %}

{% block buttons %}
<button class="btn btn-primary m-1" onclick="advancedGenerate(document.getElementById('guesses').value, 'condense')">Guess</button>
<button class="btn btn-primary m-1" onclick="updateColor('Border')">Condense</button>
<button class="btn btn-primary m-1" onclick="check()">Check</button>
<button class="btn btn-primary m-1" onclick="new_puzzle()">New Puzzle</button>
</div>
<div class="mb-3">
    <div id='hit' class="text-center text-white">Hit x0</div>
    <div id='miss' class="text-center text-white">Miss x0</div>
{% endblock %}

{% block explanation %}
    This one's only going to make a small change - instead of showing up every time you click 'Guess', the counters and colors will only update when you click 'Condense'. <br>
    This probably won't make much sense right now, but it'll be important later. <br><br>
    Also, since all this clicking's starting to get a bit tedious, we'll let you choose how many guesses one click of the Guess button will give you.
    You can find this option on the navbar. <br><br>
    Finally, we'll also be increasing the size, just to keep things interesting.
{% endblock %}

{% block levelscript %}
    <script>
        const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
        const cases = [[0, 0, 10, 10], [0, 10, 10, 10]]
        const acc = .2
        const closeEnough = .9
        const size = 6
        const maxLoops = 50
        const checkRigor = 100
        let s = new URLSearchParams(window.location.search).get('seed')
    </script>
{% endblock %}