{% extends 'lvl7-10.html' %}

{% block navbar_extra %}
<br>
<div class="navbar-nav">
    <button class="btn btn-secondary ml-4 toggleCounters" onclick="toggleCounters()">Toggle Counters</button>
    <span style="padding: 8px;" class="text-white bg-secondary ml-3">Guesses:</span>
    <input id='guesses' class="text-white bg-secondary numberInput pl-2 ml-1" type="number" max="50" min="0" step="1" value="20">
</div>
{% endblock %}

{% block buttons %}
<button class="btn btn-primary m-1" onclick="advancedGenerate(document.getElementById('guesses').value, 'condense')">Guess</button>
<button class="btn btn-primary m-1" onclick="updateColor('Box')">Condense</button>
<button class="btn btn-primary m-1" onclick="check()">Check</button>
<button class="btn btn-primary m-1" onclick="new_puzzle()">New Puzzle</button>
</div>
<div class="d-flex justify-content-center m-3">
    <span class="text-white bg-primary p-1">Tolerance:</span>
    <input id='tolerance' class = "text-white numberInput border border-primary pl-1 bg-dark-blue" type="number" max="100" min="0" step="1" value="50">
    <span class="text-white bg-primary p-1">%</span>


</div>
<div class="mb-3">
    <div id='hit' class="text-center text-white">Hit x0</div>
    <div id='miss' class="text-center text-white">Miss x0</div>
{% endblock %}

{% block explanation %}
    Looks like we've got a huge change here - the squares can't be clicked anymore! Instead, the Condense button will color the board for you. <br><br>
    This means it's gonna be a lot harder to make small adjustments. Luckily, we've also added a 'Tolerance' input, 
    which will allow you to change the point where something is considered a 'hit' or a 'miss' <br><br>
    Putting a higher number in the Tolerance field will slow things down a bit, but it'll also make the end result a lot more accurate.
    Try fiddling around with it, and find that perfect balance between quality and speed!
{% endblock %}

{% block levelscript %}
    <script>
        const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
        const cases = [[0, 0, 10, 10], [0, 10, 10, 10]]
        const acc = .2
        const closeEnough = .9
        const size = 7
        const checkRigor = 180
        const maxLoops = 50
        let s = new URLSearchParams(window.location.search).get('seed')
    </script>
{% endblock %}