{% extends 'lvl7.html' %}

{% block level %}: Level 8{% endblock %}

{% block max_guess %}100{%endblock%}
{% block guess_value %}40{%endblock%}

{% block button0 %}<button class="button rounded text-cyan m-1" onclick="advancedGenerate(document.getElementById('guesses').value, 'condense', 'missBonus')">Guess</button>{% endblock %}

{% block explanation %}
    This time, the change is a relatively minor one - the more <span class="text-blue">Misses</span> you get, the more your <span class="text-green">Hits</span> 
    will increase the <span class="text-cyan">Counters</span> when you <span class="text-green">Condense</span>. <br><br>

    This means you'll be able to set the <span class="text-yellow">Tolerance</span> a bit higher without sacrificing as much time, letting you make your patterns just a bit more 
    <span class="text-purple">Accurate</span>. <br><br>

    You're gonna need the extra <span class="text-purple">accuracy</span> for this one. Give it a try!
{% endblock %}

{% block levelNum %}
<script>
    const levelNum = 8
</script>
{% endblock %}

{% block checkRigor %}
<script>
    const checkRigor = 240
</script>
{% endblock %}

{% block size %}
<script>
    const size = 8
</script>
{% endblock %}
{% block maxLoops %}
<script>
    const maxLoops = 100
</script>
{%endblock%}
{% block maxGuess %}
<script>
    const maxGuess = 2000
</script>
{%endblock%}