{% extends 'base.html' %} {% block title %}LOB{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center m-3">
        <div class="bg-primary rounded shadow-lg">
            <h1 class = 'text-center text-white ml-2 mr-2 t-shadow-s'>
                Learn Outside The Box 
            </h1>
        </div>
    </div>

    <div id="notes" class="bg-primary center-div m-auto w-40 pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg">
        <p class="text-center text-white">
            Congratulations on beating the final level! It was probably a lot easier than you were expecting, wasn't it? <br><br>
            Now then, let's get to what you came here for: why is this game called <b>Learn Outside The Box</b>, when the entire game happens inside of one?
            Well that's the secret - this isn't really a game.
            <b>LOB</b> was my showcase how incredible the human ability to <span class="text-purple">learn</span> really is. <br><br> 
            At its core, it's basically just <span class="text-cyan">Guessing</span> - 
            activating a random array of <span class="text-lime">neural connections</span> to see what happens. <br><br> 
            But every time it gets a 
            <span class="text-green">Hit</span>, 
            and succeeds at what it's trying to do, it <span class="text-lime">Marks</span> down which connections were <span class="text-green">Active</span> 
            by filling those connections with certain <span class="text-green">neuro</span><span class="text-blue">chemicals</span>. <br><br>
            And when you go to sleep, it'll <span class="text-aether">Condense</span> all of that information, creating a more
            <span class="text-purple">Accurate</span> image of what you need to do. <br><br>
            But that's not all - by changing your <span class="text-yellow">Tolerance</span> for what you consider a success, 
            it'll increase how <span class="text-purple">Accurate</span> that image is, and when your <span class="text-yellow">Tolerance</span> is high enough that 
            you <span class="text-blue">Miss</span> more often than you <span class="text-green">Hit</span>, it'll make your <span class="text-lime">Marks</span>
            stronger to compensate. <br><br>
            It's a pretty simple mechanism, but with enough time and effort, it's one with the power to do pretty much <b>anything</b>. <br><br>
            I hope you enjoyed my <b>Outside-The-Box way</b> to help you <b>Learn</b> how learning works!
        </p>
    </div>

{% endblock %}