{% extends 'lvl.html' %}

{% block extra %}
<a id="nextLevel" class="button rounded text-white box-glow row-2 coll-1 boxh-4 overlay" href="/Level1">Click here if you'd <br>like to play again.</a>
<a id="nextLevel" class="button rounded text-white box-glow row-1 coll-2 overlay" href="/lesson_1">Click here if you'd <br> like to learn how you <br>
    accidentally just became <br> a neuroscientist.
</a>
{%endblock%}

{% block levelscript %}
    <script>
        const colors =['rgb(0, 0, 255)', 'rgb(0, 255, 255)']
        const borderColors = ['border-blue', 'border-cyan']
        const backgroundColors = ['bg-blue', 'bg-cyan']
        const cases = [[0, 0, 10, 10], [0, 10, 10, 10]]
        let s = new URLSearchParams(window.location.search).get('seed')
    </script>
{% endblock %}
{% block levelNum %}
<script>
    const levelNum = 1
</script>
{% endblock %}
{% block acc %}
<script> 
    const acc = 1 
</script>
{% endblock %}
{% block closeEnough %}
<script>
    const closeEnough = 1
</script>
{% endblock %}
{% block checkRigor %}
<script>
    const checkRigor = 100
</script>
{% endblock %}
{% block size %}
<script>
    const size = 3
</script>
{% endblock %}