{% extends 'base.html' %} {% block title %}LOB{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center m-3">
        <div class="bg-primary rounded shadow-lg">
            <h1 class = 'text-center text-white ml-2 mr-2 t-shadow-s'>
                Learn Outside The Box 
            </h1>
        </div>
    </div>

    <div id="notes" class="bg-primary center-div m-auto w-40 pt-3 pb-01 pl-2 pr-2 rounded text-wrap shadow-lg">
        <p class="text-center text-white">
            Congratulations on beating the final level! It was probably a lot easier than you were expecting, wasn't it? <br><br>
            Now then, let's get to what you came here for: why is this game called <b>Learn Outside The Box</b>, when the entire game happens inside of one?
            Well that's the secret - this isn't really a game.
            <b>LOB</b> was my showcase how incredible the human ability to <span class="text-purple">learn</span> really is. <br><br> 
            At its core, it's basically just <span class="text-cyan">Guessing</span> - 
            activating a random array of <span class="text-lime">neural connections</span> to see what happens. <br><br> 
            But every time it gets a 
            <span class="text-green">Hit</span>, 
            and succeeds at what it's trying to do, it <span class="text-lime">Marks</span> down which connections were <span class="text-green">Active</span> 
            by filling those connections with certain <span class="text-green">neuro</span><span class="text-blue">chemicals</span>. <br><br>
            And when you go to sleep, it'll <span class="text-aether">Condense</span> all of that information, creating a more
            <span class="text-purple">Accurate</span> image of what you need to do. <br><br>
            But that's not all - by changing your <span class="text-yellow">Tolerance</span> for what you consider a success, 
            it'll increase how <span class="text-purple">Accurate</span> that image is, and when your <span class="text-yellow">Tolerance</span> is high enough that 
            you <span class="text-blue">Miss</span> more often than you <span class="text-green">Hit</span>, it'll make your <span class="text-lime">Marks</span>
            stronger to compensate. <br><br>
            It's a pretty simple mechanism, but with enough time and effort, it's one with the power to do pretty much <b>anything</b>. <br><br>
            I hope you enjoyed my <b>Outside-The-Box way</b> to help you <b>Learn</b> how learning works!
        </p>


        Use 'next' buttons

        Layout: 
        Levels 1-2 teach basic mechanics
        3-4 teach random guess trackings
        5 teach no default counters and hold button mechanics
        6 teach condense mechanic
        7 high standards and no click mechanics
        8 high miss mechanic
        9 have fun!

        add a back button

        Have board on one side and reference pictures on the other, with explanations overlaid in a position that doesn't hide something else important

        Boxes represent the neurons used when doing a task (show a picture of neurons) 
        We'll be throwing a basketball as an example
        The final solution is the pattern of neurons that let you throw it correctly. (show a basketball getting in the net and a completed board with sparkles)

        (switch to 4x4 board)

        To figure this solution out, your brain's main strategy is to try everything and see what works. (2x2 of random basketball throws with 2x2 of random 4x4 guesses)
        When a random guess gets close, your brain marks down which neurons were active at the time (Zoom on the closest of the 4 throws and Add numbers with glow)
        Once it does this enough times, it'll usually be able to figure out which neurons are necessary and which aren't.

        There's a few things you can do to affect this process.
        For energy efficiency reasons, humans usually don't see any big results until you go to sleep (update), and there's a limit to how much you can learn without sleeping
            Uncondensed + sleep => waking + condensed 6x6
        Getting good sleep is absolutely essential for any kind of learning!

        Where you set your standards also has a massive effect on how fast you learn, and how good you get in the end.
            big miss basketball (Close enough!) + Standards input 3 => hit, perfect shot (My form was terrible) + standards input 9 => miss
        Since high-standard hits usually give better results, those get bigger marks than low-standard Hits. 
            4 tolerance with a board of 1s, vs a  9 tolerance with a board of 5s
        While low-standard Hits can also give good results, given enough time, humans have a bit of a problem with this method.
            fade to empty
        Once you get to be about 25 years old, your brain adopts the philosophy of 'If it ain't broke, don't fix it'. 
        Once this happens, it'll only try to change itself if you're constantly failing at something you want to do.
            High miss count and low hit count
        This is entirely decided by your own perceptions of success and failure - if you don't think you're failing, it won't either.
        When you take this into account, the ideal Standard works out to somewhere around 8-9, or an 80-90% fail rate.
            8 standard
        People below 25 also have this problem, to a lesser degree. For them, an 8-9 still works well, but they can also benefit from Standards in the lower ranges.
            add a 5 standard
        Either way, standards of 1 or 10 tend not to get you anywhere, so try to be careful not to go to extremes.
            Chaotic board and empty board

        This last one wasn't represented in the game, but it's also good to stop and carefully analyze your task, to make sure you're aiming for the right goal.
            basketball over a wall (I did it!) look around the wall to see 'good hoop' on the left and 'bad hoop' in the middle (Oh wait, no I didn't)

        Anyway, next time you want to learn something, remember what you did here:
            Get good sleep (update button)
            Set good standards (tolerance input)
        And most of all, (next)
            Try, try again! (animation of hits and misses going high)




    </div>

{% endblock %}