{% extends 'lvl8.html' %}

{% block level %}: Finale{% endblock %}

{% block counter_size %}text-05{% endblock %}
{% block max_guess %}200{%endblock%}
{% block guess_value %}80{%endblock%}

{% block box %}
    <p class="text-center counter h-1 div-center hidden"></p>
{% endblock %}

{% block button0 %}<button id="guess" class="button rounded text-cyan m-1" onclick ='advancedGenerate(20)'>Guess</button>{% endblock %}

{% block bubbles %}
    <div id="bubble1" class="speech-bubble speech-bubble-right text-white txtw-15 p-2 pb-01 mt-3 rounded text-wrap shadow-lg r2-c1 d-none">
        <p class="text-center text-white">
            <span>And that's all the mechanics.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
    <div id="bubble2" class="speech-bubble speech-bubble-right text-white txtw-15 p-2 pb-01 mt-3 rounded text-wrap shadow-lg r2-c1 d-none">
        <p class="text-center text-white">
            <span>Now, go big or go home!.</span> <br>
            <button class="button rounded bg-secondary m-1" onclick="bubbleCycle()">Next</button>
        </p>
    </div>
{%endblock%}

{% block bubbleList %}
<script>
    const bubbleList = ['','bubble1','bubble2']
    bubListenList = [['guess', 'click', '']]
</script>
{% endblock %}
{% block bubbleScript %}
<script>
    bubListenList[0][2] = bubbleCycle
    bubbleCycle()
</script>
{% endblock %}
{% block bubbleGuessPoints %}
<script>
    const bubbleGuessPoints = []
</script>
{%endblock%}

{% block closeEnough %}
<script>
    const closeEnough = .97
</script>
{%endblock%}

{% block levelNum %}
<script>
    const levelNum = 9
</script>
{% endblock %}

{% block checkRigor %}
<script>
    const checkRigor = 210
</script>
{% endblock %}

{% block size %}
<script>
    const size = 12
</script>
{% endblock %}
{% block maxGuess %}
<script>
    const maxGuess = 400
</script>
{%endblock%}
{% block holdSpeed %}
<script>
    const holdSpeed = 5
</script>
{% endblock %}