/* text color */

.text-red {
    color: red;
}

.text-tan {
    color: rgb(212, 170, 131)
}

.text-orange {
    color: rgb(255, 177, 88);
}

.text-dark-orange {
    color: rgb(153, 99, 0);
}

.text-yellow {
    color: rgb(255, 255, 36);
}

.text-lime {
    color: rgb(188, 255, 2)
}

.text-green {
    color: rgb(88, 230, 88);
}

.text-aether {
    color:rgb(167, 255, 240)
}

.text-cyan {
    color: rgb(0, 241, 241);
}

.text-blue {
    color: rgb(146, 176, 240);
}

.text-purple {
    color: rgb(218, 161, 255)
}

.text-gray {
    color: lightgray;
}

.text-transparent-gray {
    color: rgba(200,200,200,.5)
}

.text-dark {
    color: rgb(68, 69, 80);
}

.text-black {
    color: black;
}

/* background color */

.bg-maroon {
    background-color: rgb(68, 25, 0);
}

.bg-dark-green {
    background-color: rgb(0, 83, 0)
}
.bg-cyan {
    background-color: cyan;
}

.bg-blue {
    background-color: blue;
}

.bg-dark-blue {
    background-color: rgb(0, 68, 156);
}

.bg-purple {
    background-color: rgb(218, 161, 255)
}

.bg-dark2 {
    background-color: rgb(68, 69, 80);
}

.bg-black {
    background-color: black;
}

/* border color */

.border-green {
    border-color: rgb(0, 255, 0);
}

.border-black {
    border-color: black;
}

.border-blue {
    border-color: rgb(0, 0, 180);
}

.border-cyan {
    border-color: rgb(0, 180, 180);
}

/* effects */

.text-shadow-s {
    text-shadow: 0px 0px 2px black;
}

.text-shadow {
    text-shadow: 0px 0px 5px black;
}

.text-glow {
    text-shadow: 0px 0px 5px white;
}

.box-glow {
    box-shadow: 0px 0px 5px white;
}