:root {
    --box-size: 30px;
}

html {
    font-size: 25px;
}


/* classes */

.counter {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0; 
    position: relative; 
    top: 50%;
    color: white;
    text-shadow: 0px 0px 5px black;
    height: 2rem;
}

.genFade {
    border: solid;
    aspect-ratio: 1/1;
    border-width: 15px;
    margin: -16px;
}

.info {
    text-align: center;
    width: calc(var(--box-size) * 4);
    text-shadow: 0px 0px 2px black;
}

.LOBtd {
    border-style: solid;
    border-color: black;
    border-spacing: 15px;
    border-width: 7px;
    aspect-ratio: 1/1;
    justify-content: center;
    background-color: blue;
}

.overBtn {
    border-radius: 5px;
    border: transparent;
    padding: 5px 15px 10px 15px;
    color: white;
}

.sparkle {
    z-index: -1;
    position: absolute;
    margin: auto 10% auto 10%;
    top: 0;
    bottom: 0;
    width: calc(var(--box-size) * 20);
    width: calc(var(--box-size) * 20);
}

.sparkr {
    left: 1;
    right: 0;
}

.sparkl {
    left: 0;
    right: 1;
    transform: rotateY(180deg);
}

.tableBorder {
    border: solid;
    aspect-ratio: 1/1;
    border-width: 0.5rem;
    margin: -2px;
    background-color: blue;
}

/* single-line modifiers */
/* padding */

.pb-01{
    padding-bottom: 0.1em;
}

/* width */

.w-2 {
    width: calc(var(--box-size) * 2);
}

.w-3 {
    width: calc(var(--box-size) * 3);
}

.w-4 {
    width: calc(var(--box-size) * 4);
}

.w-240p {
    width: 240px;
}

.w-24 {
    width: calc(var(--box-size) * 24);
}

.w-40 {
    width: calc(var(--box-size) * 40);
}

/* color */

.t-shadow-s {
    text-shadow: 0px 0px 2px black;
}

.t-shadow {
    text-shadow: 0px 0px 5px black;
}

.text-green {
    color: rgb(0, 190, 0);
}

.text-blue {
    color: rgb(51, 155, 253)
}

.text-cyan {
    color: rgb(0, 241, 241);
}

.bg-dark2 {
    background-color: rgb(68, 69, 80);
}

.border-green {
    border-color: rgb(0, 255, 0);
}

.border-blue {
    border-color: rgb(0, 0, 180);
}

.border-cyan {
    border-color: rgb(0, 180, 180);
}

.bg-blue {
    background-color: blue;
}

.bg-dark-blue {
    background-color: rgb(0, 68, 156);
}

.bg-cyan {
    background-color: cyan;
}

/* position and size */

.text-center {
    text-align: center;
}

.lh-40 {
    line-height: 40px;
}

.hidden {
    visibility: hidden;
}

.z-1 {
    z-index: 1;
}

.t-layout-fixed {
    table-layout: fixed;
}

@media screen and (min-width: 2400px) {
  }