:root {
    --box-size: 30px;
    font-size: 25px;
}

.html {
    font-size: 25px;
}


/* classes */

    .button {
        background-color: #212529;
        color: white;
        text-shadow: 0px 0px 2px black;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: calc(var(--box-size) * .3) calc(var(--box-size) * .6);
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .genFade {
        border: solid;
        aspect-ratio: 1/1;
        border-width: 15px;
        margin: -16px;
    }

    .info {
        text-align: center;
        display: block;
        width: 8em;
        text-shadow: 0px 0px 2px black;
    }

    .LOBtd {
        border-style: solid;
        border-color: black;
        border-spacing: 15px;
        border-width: 0.3em;
        overflow: hidden;
        aspect-ratio: 1/1;
        justify-content: center;
        background-color: blue;
    }


    .sparkle {
        z-index: -1;
        position: absolute;
        margin: auto 10% auto 10%;
        top: 0;
        bottom: 0;
        width: calc(var(--box-size) * 20);
        height: calc(var(--box-size) * 20);
    }

    .sparkle-right {
        left: 1;
        right: 0;
    }

    .sparkle-left {
        left: 0;
        right: 1;
        transform: rotateY(180deg);
    }

    .imgSquare {
        border: solid;
        border-color: black;
        border-width: .3rem;
        aspect-ratio: 1/1;
    }

    /*Credit: https://projects.verou.me/bubbly/*/

    .speech-bubble {
        position: absolute;
        --bubble-color: #212529;
        background: var(--bubble-color);
        border-radius: .4em;
    }

    .speech-bubble-bottom {
        position: absolute;
    }

    .speech-bubble-top {
        position: absolute;
    }

    .speech-bubble-left {
        position: absolute;
    }

    .speech-bubble-right {
        position: absolute;
    }

    .speech-bubble-bottom::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-top-color: var(--bubble-color);
        border-bottom: 0;
        margin-left: -1rem;
        margin-bottom: -1rem;
    }

    .speech-bubble-top::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-bottom-color: var(--bubble-color);
        border-top: 0;
        margin-left: -1rem;
        margin-top: -1rem;
    }

    .speech-bubble-left::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-right-color: var(--bubble-color);
        border-left: 0;
        margin-top: -1rem;
        margin-left: -1rem;
    }

    .speech-bubble-right::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-left-color: var(--bubble-color);
        border-right: 0;
        margin-top: -1rem;
        margin-right: -1rem;
    }

    /* end credit */

    .tableBorder {
        border: solid;
        aspect-ratio: 1/1;
        border-width: 0.5rem;
        margin: -2px;
        background-color: blue;
    }

    .lobBubble {
        /* lobBubble */
        position: absolute;
        color: white;
        margin-top: .25rem;
        padding: .25rem;
        border-radius: .25rem;
        text-wrap-mode: wrap;
        box-shadow: 0px 0px 5px black;
    }

/* position and size */

    .row-1 {
        position: absolute;
        top: calc((var(--box-size) * 9.2) + 6rem);
    }

    .row-center {
        position: absolute;
        top: calc((var(--box-size) * 15) + 6rem);
    }

    .row-2 {
        position: absolute;
        top: calc((var(--box-size) * 18.5) + 6rem);
    }

    .row-2-bottom {
        position: absolute;
        top: calc((var(--box-size) * 26) + 6rem);
    }

    .row-3 {
        position: absolute;
        top: calc((var(--box-size) * 29) + 6rem);
    }

    .row-3-bottom {
        position: absolute;
        top: calc((var(--box-size) * 30.5) + 7rem);
    }

    .coll-1 {
        left: 50%;
        transform: translate(-50%, -50%) translate(calc(var(--box-size) * -22), 0);  
    }

    .coll-1-bottom {
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * -22), 0);  
    }

    .coll-center {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .coll-center-bottom {
        left: 50%;
        transform: translate(-50%);
    }

    .coll-2 {
        left: 50%;
        transform: translate(-50%, -50%) translate(calc(var(--box-size) * 10));
    }

    .coll-button-1 {
        left: 50%;
        transform: translate(-50%, -50%) translate(calc((var(--box-size) * -1.1) - 1.3rem)); 
    }

    .row-3-b3 {
        position: absolute;
        top: calc((var(--box-size) * 34.5) + 7rem);
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .r-4 {
        position: absolute;
        top: calc((var(--box-size) * 32) + 6rem);
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .r-4-b {
        position: absolute;
        top: calc((var(--box-size) * 34) + 6rem);
        left: 50%;
        transform: translate(-50%); 
    }

    .ls-1 {
        position: absolute;
        top: calc((var(--box-size) * 13) + 6rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * -15)); 
    }

    .lt-2 {
        position: absolute;
        top: calc((var(--box-size) * 6) + 4rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * 10)); 
    }

    .lt-1 {
        position: absolute;
        top: calc((var(--box-size) * 6) + 4rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * -10)); 
    }


    .lr-c-b {
        position: absolute;
        top: calc((var(--box-size) * 24) + 6rem);
        left: 50%;
        transform: translate(-50%); 
    }

    .lr-l-b {
        position: absolute;
        top: calc((var(--box-size) * 24) + 6rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * -10)); 
    }

    .lr-r-b {
        position: absolute;
        top: calc((var(--box-size) * 24) + 6rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * 10));; 
    }

    .lr2-r-b {
        position: absolute;
        top: calc((var(--box-size) * 26) + 8rem);
        left: 50%;
        transform: translate(-50%) translate(calc(var(--box-size) * 10));; 
    }

    .lr2-c-b {
        position: absolute;
        top: calc((var(--box-size) * 26) + 8rem);
        left: 50%;
        transform: translate(-50%); 
    }

    .title {
        position: absolute;
        top: calc((var(--box-size) * 3) + 2rem);
        left: 50%;
        transform: translate(-50%, -50%) translate(-1rem);  
        font-size: 1.8em;
        font-weight: 600;
        width: calc(var(--box-size) * 24)
    }

    .wrap {
        overflow-wrap: break-word;
    }

    .text-05 {
        font-size: 0.5em;
    }

    .text-075 {
        font-size: 0.75em;
    }

    .text-1 {
        font-size: 1em;
    }

    .text-1-5 {
        font-size: 1.5rem;
    }

    .text-2 {
        font-size: 2em;
    }

    .text-4 {
        font-size: 4em;
    }

    .text-center {
        text-align: center;
    }

    .text-center-v {
        padding-top: calc(50% - 1rem);
    }

    .div-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .abs-center {
        position: absolute;
        top: calc(var(--box-size) * 23);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .d-block {
        display: block;
    }

    .lh-4 {
        line-height: 1.5em;
    }

    .lh-40 {
        line-height: calc(var(--box-size) * 1.5);
    }

    .hidden {
        visibility: hidden;
    }

    .up-5 {
        margin-top: calc(var(--box-size) * -5);
        margin-bottom: calc(var(--box-size) * -5);
    }
    
    .up-10 {
        margin-top: calc(var(--box-size) * -10);
        margin-bottom: calc(var(--box-size) * -10);
    }


    .z-1 {
        z-index: 1;
    }

    .ar-1 {
        aspect-ratio: 1/1;
    }

    .overlay {
        z-index: 2;
    }

    .overlap {
        margin-top: -4rem;
        margin-bottom: -4rem;
        text-align: center;
    }

    .underlay {
        z-index: -2;
    }

    .click-none {
        pointer-events: none;
    }

    .t-layout-fixed {
        table-layout: fixed;
    }

@media screen and (max-width: 990px) {
    .collapse-margin {
        margin-left: auto;
        margin-right: auto;
        width: 10rem;
    }
}

@media screen and (max-height: 1200px) {
    :root {
        --box-size: 25px;
        font-size: 22px;
    }
  }

  @media screen and (max-width: 1650px) {
    :root {
        --box-size: 25px;
        font-size: 22px;
    }
  }

  @media screen and (max-height: 1000px) {
    :root {
        --box-size: 20px;
        font-size: 19px;
    }
  }

  @media screen and (max-width: 1350px) {
    :root {
        --box-size: 20px;
        font-size: 19px;
    }

    .title {
        font-size: 1.5rem;
    }
  }

  @media screen and (max-height: 800px) {
    :root {
        --box-size: 15px;
        font-size: 16px;
    }

    .r2-c2 {
        transform: translate(-50%, -50%) translate(calc(var(--box-size) * 21), 0);  
    }
  }

  @media screen and (max-width: 1150px) {
    :root {
        --box-size: 15px;
        font-size: 16px;
    }

    .r2-c2 {
        transform: translate(-50%, -50%) translate(calc(var(--box-size) * 21), 0);  
    }
  }

  @media screen and (max-width: 900px) {
    .row-1 coll-1 {
        top: calc((var(--box-size) * 2) + 2em);
        transform: translate(-50%, 0);
    }

    .row-1 coll-2 {
        top: calc((var(--box-size) * 39) + 3.5rem);
        transform: translate(-50%, 0);
        width: 10em;
    }

    .row-2 coll-1 {
        top: calc((var(--box-size) * 36.5) + 3.5rem);
        transform: translate(-50%, 0);
        width: 20rem;
        margin-top: -1px;
    }

    .info {
        display: inline;
        line-height: normal;
    }

    .r2-c2 {
        top: calc((var(--box-size) * 43) + 2.5em);
        transform: translate(-50%, 0);
        width: 20em;
    }

  }
  
  @media screen and (max-width: 633px) {

    :root {
        --box-size: 12px;
        font-size: 13px;
    }

    .title {
        font-size: 1.4rem;
    }
  }