/* box width/height */

.boxw-4 {
    width: calc(var(--screen-unit) * 4);
}

.boxw-15 {
    width: calc(var(--screen-unit) * 15);
}

.boxw-24 {
    width: calc(var(--screen-unit) * 24);
}

.boxh-1 {
    height: calc(var(--screen-unit) * 1);
}

.boxh-2 {
    height: calc(var(--screen-unit) * 2);
}

.boxh-2-5 {
    height: calc(var(--screen-unit) * 2.5);
}

.boxh-4 {
    height: calc(var(--screen-unit) * 4);
}

.boxh-10 {
    height: calc(var(--screen-unit) * 10);
}

/* rem width/height */

.remw-1 {
    width: 1rem;
}

.remw-2 {
    width: 2rem;
}

.remw-3 {
    width: 3rem;
}

.remw-4 {
    width: 4rem;
}

.remw-6 {
    width: 6rem;
}

.remw-8 {
    width: 8rem;
}

.remh-1 {
    height: 1.5rem;
}

.remh-2 {
    height: 2rem;
}

/* em width/height */

.emw-2 {
    width: 2em
}

.emw-3 {
    width: 3em
}

.emw-4 {
    width: 4em
}

.emw-8 {
    width: 8em
}

.emw-17 {
    width: 17em;
}

.emh-2 {
    height: 2em
}

.emh-2_5 {
    height: 2.5em;
}

/* text size */

.text-05 {
    font-size: 0.5em;
}

.text-075 {
    font-size: 0.75em;
}

.text-1 {
    font-size: 1em;
}

.text-1-5 {
    font-size: 1.5rem;
}

.text-2 {
    font-size: 2em;
}

.text-3 {
    font-size: 4em;
}

.text-4 {
    font-size: 4em;
}
