html {
    font-size: 25px;
}

.margin {
    margin: 20px 0;
}

.main {
    line-height: 40px;
}

.explain {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.5%;
    padding-bottom: 0.1px;
}

.background {
    background-color: rgb(68, 69, 80);
}

.LOBtable {
    width: 50%;
    aspect-ratio: 1/1;
    max-height: 50%;
    margin: auto;
    border: solid;
    table-layout: fixed;
    
}

.LOBtd {
    border-style: solid;
    border-color: black;
    border-spacing: 15px;
    border-width: 7px;
    aspect-ratio: 1/1;
    justify-content: center;
    background-color: blue;
}

.tableBorder {
    border: solid;
    background-color: blue;
    aspect-ratio: 1/1;
    border-width: 0.5rem;
    margin: -1px;
}

.dn {
    display: none;
}

.counter {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0; 
    position: relative; 
    top: 50%;
    color: white;
    text-shadow: 0px 0px 5px black;
    height: 2rem;
}

.toggleCounters {
    width: 240px;
}

.genFade {
    border: solid;
    aspect-ratio: 1/1;
    border-width: 15px;
    margin: -16px;
}

.hidden {
    visibility: hidden;
}

.border-green {
    border-color: rgb(0, 255, 0);
}

.border-blue {
    border-color: rgb(0, 0, 180);
}

.border-cyan {
    border-color: rgb(0, 180, 180);
}

.bg-blue {
    background-color: blue;
}

.bg-dark-blue {
    background-color: rgb(0, 68, 156);
}

.bg-cyan {
    background-color: cyan;
}

.numberInput {
    width: 75px;
}

.overBtn {
    border-radius: 5px;
    border: transparent;
    padding: 5px 15px 10px 15px;
    color: white;
}

.sparkle {
    z-index: -1;
    position: absolute;
    margin: auto 10% auto 10%;
    top: 0;
    bottom: 0;
    width: 20em;
    height: 20em;
}

.sparkr {
    left: 1;
    right: 0;
}

.sparkl {
    left: 0;
    right: 1;
    transform: rotateY(180deg);
}

.z-1 {
    z-index: 1;
}



@media screen and (min-width: 1000px) and (max-height: 1200px) {
    .LOBtable {
        width: 35%;
    }
    html{
        font-size: 17px;
    }

  }

@media screen and (min-width: 1100px) and (max-height: 1300px) {
    .LOBtable {
        width: 35%;
    }
    html{
        font-size: 17px;
    }
  }

@media screen and (min-width: 1800px) and (max-height: 2000px) {
    .LOBtable {
        width: 35%;
    }
    html{
        font-size: 17px;
    }
}

@media screen and (min-width: 1400px) and (max-height: 1200px) {
    .LOBtable {
        width: 25%;
    }
    html{
        font-size: 12px;
    }
  }

@media screen and (min-width: 1600px) and (max-height: 1300px) {
    .LOBtable {
        width: 25%;
    }
    html{
        font-size: 12px;
    }
  }

@media screen and (min-width: 2500px) and (max-height: 2000px) {
    .LOBtable {
        width: 25%;
    }
    html{
        font-size: 12px;
    }
}