{% extends 'lvl.html' %}

{% block buttons %}
<button class="btn btn-primary m-1" onclick="advancedGenerate(10)">Guess</button>
<button class="btn btn-primary m-1" onclick="clean([0, -40, -40, -40])">Clean</button>
<button class="btn btn-primary m-1" onclick="check()">Check</button>
<button class="btn btn-primary m-1" onclick="new_puzzle()">New Puzzle</button>
</div>
<div class="mb-3">
    <div id='hit' class="text-center text-white">Hit x0</div>
    <div id='miss' class="text-center text-white">Miss x0</div>
    <div id='cleans' class="text-center text-white mb-3">Clean x0</div>
{% endblock %}

{% block explanation %}
    Welp, now the computer's just guessing randomly. How are you supposed to figure anything out now?<br><br>
    Luckily, there's a solution - the guesses may be random, but we've still got a vague idea of how close they're getting to the answer. <br><br>
    From now on, we'll be adding a 'hit or miss' function. When a guess less than 45% accurate, it'll be considered a 'miss', and instead of those boxes
    gaining more cyan, they'll lose some. When it's over 55% accurate, it'll be considered a 'hit', and will act how it usually does, and if it's somewhere in between,
    nothing will happen - you can learn something from both success and failure, but it's harder to learn from something ambiguous.
{% endblock %}

{% block levelscript %}
    <script>
        const colors =['rgb(255, 255, 255)', 'rgb(0, 255, 255)']
        const cases = [[0, 0, 10, 10], [0, 10, 10, 10]]
        const acc = .2
        const closeEnough = .9
        const size = 5
        let s = new URLSearchParams(window.location.search).get('seed')
    </script>
{% endblock %}